<table class="m-4">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Ref</th>
    <th>Type</th>
    <th>Doc</th>
  </thead>
  <tbody>
    <%= for doc <- @docs do %>
      <tr>
        <td><%= doc.id %></td>
        <td><%= doc.title %></td>
        <td><a href={"https://hexdocs.pm/#{@package}/#{doc.ref}"}><%= doc.ref %></a></td>
        <td><%= doc.type %></td>
        <td class="p-1"><%= raw(doc.doc) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
